html {

margin: 0;

padding: 0;

}

body {

font-family: 'Handlee', cursive;

font-size: 13pt;

background-color: #efefef;

padding: 10px;

margin: 0;

}

h1 {

font-size: 15pt;

color: #20bcd5;

text-align: center;

padding: 18px 0 18px 0;

margin: 0 0 10px 0;

}

h1 span {

/* border: 4px dashed #20bcd5; */

padding: 10px;

}

p {

padding: 0;

margin: 0;

}

.img-circle {

border: 3px solid white;

border-radius: 50%;

}

.section {

background-color: #fff;

padding: 15px;

margin-bottom: 10px;

border-radius: 10px;

}

#header {

background-image: url("https://www.sololearn.com/Uploads/header.jpg");

background-size: cover;

}

#header img {

display: block;

width: 80px;

height: 80px;

margin: auto;

}

#header p {

font-size: 25pt;

color: #3b464c;

padding-top: 5px;

margin: 0;

font-weight: bold;

text-align: center;

}

.quote {

font-size: 12pt;

text-align: right;

margin-top: 10px;

}

li {

margin-bottom: 15px;

font-weight: bold;

}

progress {

width: 70%;

height: 20px;

color: #3fb6b2;

background: #efefef;

}

progress::-webkit-progress-bar {

background: #efefef;

}

progress::-webkit-progress-value {

background: #3fb6b2;

} 

progress::-moz-progress-bar {

color: #3fb6b2;

background: #efefef;

}

/* .container{
    height: 20px;
} */

.label {
    width: 100%;
    background-color: #4aaaa5;
    color:#ffffff;
    /* position: absolute; */
    bottom: 10px;
    padding: 20px;
  }

form {

text-align: center;

margin-top: 0;

}

.submit {

background-color: #3fb6b2;

padding: 12px 45px;

border-radius: 5px;

cursor: pointer;

color: #ffffff;

border: none;

outline: none;

margin: 0;

font-weight: bold;

}

.submit:hover {

background-color: #43a09d;

}

textarea {

height: 100px;

}

input, textarea {

margin-bottom: 10px;

font-size: 11pt;

padding: 15px 10px 10px;

border: 1px solid #cecece;

background-color: #efefef;

color: #787575;

border-radius: 5px;

width: 70%;

outline: none;

}

#contacts img {

height: 50px;

width: 50px;

margin-left: 7px;

margin-right: 7px;

}

#contacts a {

text-decoration: none;

}

#contacts img:hover {

opacity: 0.8;

}

#contacts {

text-align: center;

}

.copyright {

font-size: 8pt;

text-align: right;

padding-bottom: 10px;

color: grey;

}

#linkedIn, #gitHub, #resume{
    font-size: 48px;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
  
  #container{
    padding-bottom: 0px;
  }
  
  .nav{
    width: 960px;
    /* border: 2px solid green; */
    height: 100%;
  }
  
  /* #links a{
    color: #777777;
    text-align: center;
    padding: 0px 16px 25px 13px;
    text-decoration: none;
    font-size: 17px;
    height: 18px;
  } */
  
  /* .collapse .show {
    display: block;
  } */
  
  /* #portLink {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
  } */
  
  /* h1 {
    padding-bottom: 2%;
    padding-top: 3%;
    margin-left: 10px;
    border-bottom: 2px solid #dddddd;
    width: 95%;
    font-family: 'Georgia', Times, "Times New Roman", serif;
  } */
  
  img {
    height: 200px;
    width: 200px;
    float: left;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .row {
    height: 180px;
    display: flex;
    justify-content: center;
    /* color: white; */
    padding: 15px;
  }
  
  p {
    width: 90%;
    margin-top: 15px;
    margin-right: 0px;
    padding-left: 2%;
  }
  
  .col-md-3 {
    margin-right: 35px;
    padding: 0px;
    background-repeat: no-repeat;
  }
  
  .label {
    width: 100%;
    /* color:#ffffff; */
    position: absolute;
    bottom: 10px;
    padding: 20px;
  }
  
  .container {
    padding-bottom: 20px;
  }
  
  .portfolio {
    margin-top: 20px;
    /* background: #ffffff; */
    width: 960px;
  }
  
